/* Body */

body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	background: wheat;
}

/* Modal */

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	font-size: larger;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal-textbox {
	background-color: lightblue;
	height: 600px;
	width: 700px;
	border-radius: 40px;
	margin: 100px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 4%;
	line-height: 200%;
	text-align: left;
	font-size: 20px;
}
#modal-footer {
	text-align: left;
}

#close {
	padding: 20px;
	border-radius: 8px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	cursor: pointer;
	background-color: yellow;
	position: absolute;
	margin-top: 26%;
	margin-left: 16%;
}

#close:hover,
#openModal:hover,
#play-button:hover {
	transition: transform 200ms;
	transform: scale(1.2);
}

/* Home Buttons */

#play-button {
	padding: 15px;
	border-radius: 20px;
	position: absolute;
	left: 35%;
	top: 40%;
}

#openModal {
	padding: 15px;
	border-radius: 20px;
	position: absolute;
	left: 50%;
	top: 40%;
	cursor: pointer;
}

#title {
	position: absolute;
	left: 35%;
	top: 10%;
}

#subheading {
	position: absolute;
	left: 40%;
	top: 22%;
}
