body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: wheat;
}

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

.modal-buttons {
	padding: 14px 18px;
	background-color: rgb(255, 190, 71);
	border: none;
	outline: none;
	border-radius: 10px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
	position: absolute;
	margin-top: 30%;
	margin-left: 18%;
}

.modal-buttons:hover {
	background-color: orange;
	transition: transform 200ms;
	transform: scale(1.2);
}

#modal-textbox {
	font: Arial;
	background-color: white;
	height: 500px;
	width: 550px;
	border-radius: 10px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
}

#modal-footer {
	text-align: left;
}

h1 {
	padding-bottom: 15px;
}

#friends-title {
	text-align: center;
	padding-top: 60px;
}

#friends-subheading {
	text-align: center;
}

#play-button {
	flex-direction: row;
	width: 200px;
	height: 50px;
	border-radius: 15px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 25%;
}

#openModal {
	width: 350px;
	height: 50px;
	border-radius: 15px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
}

#openModal:hover,
#play-button:hover {
	transition: transform 200ms;
	transform: scale(1.2);
	background-color: orange;
}

.hide {
	display: none;
}

.container {
	background-color: rgb(55, 205, 255);
	width: 700px;
	font-size: 40px;
	border-radius: 10px;
	padding: 15px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	height: 400px;
	margin-left: 20%;
}

#next-btn,
#restart-btn,
.btn {
	padding: 10px;
	border-radius: 8px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	cursor: pointer;
	width: 50%;
}

#next-btn:hover,
#restart-btn:hover,
.btn:hover {
	transition: transform 200ms;
	transform: scale(1.05);
}

#next-btn {
	margin-top: 80px;
	font-size: 20px;
}

#restart-btn {
	margin-left: 30px;
	margin-top: 80px;
	font-size: 20px;
	position: absolute;
	width: 25%;
}

.container {
	display: none;
}
